<div class="container">
    <h2 class="text-center p-5"><i class="fa-solid fa-gear"></i>投稿編集</h2>
    <%= render 'public/post_images/form', post_image: @post_image, tag_list: @tag_list %>
</div>
<%= javascript_pack_tag "jpostal",  'data-turbolinks-track': 'reload' %>