<div class="container">
    <h2 class="text-center p-5"><i class="fa-regular fa-image"></i>新規投稿</h2>
    <!--投稿フォームは部分テンプレート-->
    <%= render 'public/post_images/form', post_image: @post_image %>
</div>
<%= javascript_pack_tag "jpostal",  'data-turbolinks-track': 'reload' %>

