<h1>Best Spot For Camera</h1>
<p>WHERE IS BESTSHOT?</p>
<p>あなたが撮った最高の一枚を投稿するサイトです。</p>
<p>位置情報を一緒に載せて最高の一枚を全世界に発信しよう！</p>
<span>新規登録は<%= link_to "こちらから", new_user_registration_path %></span>
<span>ログインは<%= link_to "こちらから", new_user_session_path %></span>
<span>お試し利用はこちらから</span>

