<div class="top">
    <h1 class="text-center p-5">Best Spot For Camera</h1>
    <p class="h2 text-center">WHERE IS BESTSHOT?</p>
    <p class="h3 p-5 text-center">
        あなたが撮った最高の一枚を投稿するサイトです。<br>
        位置情報を一緒に載せて最高の一枚を全世界に発信しよう!<br>
    </p>
    <div class="text-center pt-5">
        <p class="h4">会員登録がお済みでない方は<%= link_to "こちらから", new_user_registration_path, class:"btn btn-primary btn-sm" %><p>
        <p class="h4">登録済みの方は<%= link_to "こちらから", new_user_session_path, class:"btn btn-primary btn-sm" %><p>
        <p class="h4">お試し利用は<%= link_to "こちらから(閲覧用)", users_guest_sign_in_path, method: :post, class:"btn btn-primary btn-sm" %><p>
    </div>
</div>