<h1>投稿タグ管理</h1>

<% @tags.each do |tag| %>
  <i class="fa-sharp fa-solid fa-tag"></i>
  <%= tag.name %>
  <%= link_to "削除する", admin_tag_path(tag), method: :delete, data: { confirm: '本当に削除しますか?' }, class: "btn btn-sm btn-danger" %>
<% end %>
